* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato, sans-serif;
}

.items-filter {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.items-filter input[type='text'] {
    width: 100%;
    padding: 0.8em;
    font-size: 1rem;
    outline: none;
    border-radius: 1rem;
    border: 2px solid lightgray;
    transition: border-color ease 0.2s;
}

.items-filter input[type='text']:focus {
    border-color: gray;
}

.filter-options {
    display: flex;
    justify-content: space-evenly;
    margin: 1.2rem 0 0;
    font-size: 1.2rem;
}

.filter-options label {
    margin-right: 15px;
}

.filter-options input[type='checkbox'] {
    margin-right: 4px;
}

.rarity-filter,
.slot-filter {
    font-size: 20px;
    text-align: left;
}

.rarity-filter label,
.slot-filter label {
    margin-left: .6rem;
}